In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

/Users/datnguyen/Documents/Git/env/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

## Constant Variable

In [3]:
user_file = 'ml-100k/u.user'
item_file = 'ml-100k/u.item'
rating_train_file = 'ml-100k/ua.base'
rating_test_file = 'ml-100k/ua.test'

## Load user profile

In [4]:
user_columns = ['id', 'age', 'gender', 'occupation', 'passcode id']

In [7]:
user_data = pd.read_csv(user_file, sep='|', encoding='latin-1', names=user_columns)
user_data

      id  age gender     occupation passcode id
0      1   24      M     technician       85711
1      2   53      F          other       94043
2      3   23      M         writer       32067
3      4   24      M     technician       43537
4      5   33      F          other       15213
..   ...  ...    ...            ...         ...
938  939   26      F        student       33319
939  940   32      M  administrator       02215
940  941   20      M        student       97229
941  942   48      F      librarian       78209
942  943   22      M        student       77841

[943 rows x 5 columns]

In [8]:
user_matrix = user_data.as_matrix()
user_matrix

/Users/datnguyen/Documents/Git/env/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

array([[1, 24, 'M', 'technician', '85711'],
       [2, 53, 'F', 'other', '94043'],
       [3, 23, 'M', 'writer', '32067'],
       ...,
       [941, 20, 'M', 'student', '97229'],
       [942, 48, 'F', 'librarian', '78209'],
       [943, 22, 'M', 'student', '77841']], dtype=object)

## Load rating data

In [14]:
rating_columns = ['user_id', 'movie_id', 'rating', 'unix timestamp']

In [16]:
rating_train_data = pd.read_csv(rating_train_file, sep="\t", names=rating_columns, encoding='latin-1')
rating_train_data

       user_id  movie_id  rating  unix timestamp
0            1         1       5       874965758
1            1         2       3       876893171
2            1         3       4       878542960
3            1         4       3       876893119
4            1         5       3       889751712
...        ...       ...     ...             ...
90565      943      1047       2       875502146
90566      943      1074       4       888640250
90567      943      1188       3       888640250
90568      943      1228       3       888640275
90569      943      1330       3       888692465

[90570 rows x 4 columns]

In [17]:
rating_train_matrix = rating_train_data.as_matrix()
rating_train_matrix

/Users/datnguyen/Documents/Git/env/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

array([[        1,         1,         5, 874965758],
       [        1,         2,         3, 876893171],
       [        1,         3,         4, 878542960],
       ...,
       [      943,      1188,         3, 888640250],
       [      943,      1228,         3, 888640275],
       [      943,      1330,         3, 888692465]])

## Load item profiles

In [19]:
item_columns = ['movie id', 'movie title' ,'release date','video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
 'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']

In [20]:
item_data = pd.read_csv(item_file, encoding='latin-1', sep='|', names=item_columns)
item_data

,movie id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,1678,Mat' i syn (1997),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Mat%27+i+syn+...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1678,1679,B. Monkey (1998),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?B%2E+Monkey+(...,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
1679,1680,Sliding Doors (1998),01-Jan-1998,NaN,http://us.imdb.com/Title?Sliding+Doors+(1998),0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1680,1681,You So Crazy (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?You%20So%20Cr...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1681,1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-1996,NaN,http://us.imdb.com/M/title-exact?Schrei%20aus%...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [22]:
item_matrix = item_data.as_matrix()[:, -19:]
item_matrix

/Users/datnguyen/Documents/Git/env/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 1, 1, ..., 1, 0, 0],
       [0, 0, 0, ..., 1, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=object)

## Build CF algorithm

In [18]:
class CollaborativeFiltering:
    def __init__(self, user_matrix, rating_matrix, item_matrix):
        self.users = user_matrix
        self.n_users = user_matrix.shape[0]
        self.rating = rating_matrix
        self.items = item_matrix
        self.n_items = item_matrix.shape[0]
        self.users_items_matrix = np.empty((self.n_items, self.n_users))
        
    def get_rating_movies_by_user_id(self, user_id):
        data = self.rating[self.rating[:, 0] == user_id]
        movie_ids = data[:, 1]
        rating = data[:, 2]
        
        return movie_ids, rating
    
    def build_users_items_matrix(self):